
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.container{
    background-color: gainsboro;
    width: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0 152px;
      
}

h1{
    color: rgba(204, 47, 160, 0.179);
}

input{
    padding: 4px;
    color: gray;
    width: 380px
}

ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    
}

li{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    color: gray;
    padding: 4px;
    border: 2px black solid;
              
}

.boton{
    color:gainsboro;
    border: none;
    background-color: gainsboro;
    font-size: 12px;
    margin-left: 12px;
}

.boton:hover{
    color: rgba(255, 0, 0, 0.484);
}
